{% extends 'partials/_base.html' %} {% block content %}

<div class="heading row">
  <img
    class="portrait"
    src="https://i.imgur.com/jL6XfVL.png"
    alt="smirking red head"
  />
  <div class="introText">
    <h1>Rosanne Anderson:</h1>
    <h2>Software Engineer - Web Developer - Problem Solver</h2>
  </div>
</div>
{% include 'partials/_nav.html' %}

<div class="about baseCSS">
  <h2>About Me</h2>
  <p>
    Hello! I'm Rosanne, a Software Engineer based in Baltimore, MD. I graduated
    from General Assembly's Software Engineering boot camp 6/2022, and am
    currently job hunting, experimenting with what I've learned, and building up
    new skills. I'm a quick learner who enjoys a challenge and I can't wait to
    see where coding leads me. <br />
    <br />
    Outside of coding, I like collecting hobbies. I've been swing dancing for
    over a decade, and know most ballroom and latin dances, I play piano and
    ukulele, rock climb, sketch, paint, learned some aerial silks, lira, and
    trapeze, playing Starcraft, Don't Starve, and DOTA, and about a million
    other things. I think the best way to keep your brain agile is to practice
    doing things you are bad at. On slow days, I enjoy yoga, reading a good
    book, and taking long walks with my puppy.
  </p>
</div>
<br />
<br />
<div class="skills baseCSS">
    <h2>Skills</h2>
    <div class = 'figs'>
    <figure>
        <img
            class="icon"
            src="https://cdn-icons-png.flaticon.com/512/5968/5968292.png"
            alt="JavaScript"
        />
        <figcaption>JavaScript</figcaption>
    </figure>
    <figure>
        <img
            class="icon"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1024px-React-icon.svg.png?20220125121207"
            alt="React"
        />
        <figcaption>React</figcaption>
    </figure>
    <figure>
        <img
            class="icon"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/640px-Python-logo-notext.svg.png"
            alt="Python"
        />
        <figcaption>Python</figcaption>
    </figure>
    <figure>
        <img
            class="icon"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Devicon-html5-plain-wordmark.svg/640px-Devicon-html5-plain-wordmark.svg.png"
            alt="HTML"
        />
        <figcaption>HTML</figcaption>
    </figure>
    </figure>
    <figure>
        <img
            class="icon"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Antu_mongodb.svg/640px-Antu_mongodb.svg.png"
            alt="MongoDB"
        />
        <figcaption>MongoDB</figcaption>
    </figure>
    <figure>
        <img
            class="icon"
            src="https://cdn-icons-png.flaticon.com/512/919/919826.png"
            alt="JavaScript"
        />
        <figcaption>CSS</figcaption>
    </figure>
    <figure>
        <img
            class="icon"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/Sqlite-square-icon.svg/640px-Sqlite-square-icon.svg.png"
            alt="SQLite"
        />
        <figcaption>SQLite</figcaption>
    </figure>
    <figure>
        <img
            class="icon"
            src="https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_django_icon_130645.png"
            alt="Django"
        />
        <figcaption>Django</figcaption>
    </figure>
    <figure>
        <img
            class="icon"
            src="https://wiki.postgresql.org/images/thumb/a/a4/PostgreSQL_logo.3colors.svg/540px-PostgreSQL_logo.3colors.svg.png"
            alt="PostgreSQL"
        />
        <figcaption>PostgreSQL</figcaption>
    </figure>    
    <figure>
        <img
            class="icon"
            src="https://icons-for-free.com/iconfiles/png/512/jquery+icon-1320185152994214115.png"
            alt="JQuery"
        />
        <figcaption>JQuery</figcaption>
    </figure>
    <figure>
        <img
            class="icon"
            src="https://icon-library.com/images/node-js-icon/node-js-icon-8.jpg"
            alt="NodeJS"
        />
        <figcaption>NodeJS</figcaption>
    </figure>
</div>
</div>

{% endblock %}
